API_TOKEN=my-super-secret-token
LOG_LEVEL=INFO

MOODLE_DB_HOST=...
MOODLE_DB_PORT=...
MOODLE_DB_USER=...
MOODLE_DB_PASSWORD=...
MOODLE_DB_NAME=...

DATASET_DIR=/dataset
OUTPUT_DIR=/output
PM4PY_BASE_URL=http://pm4py-llm-app:8001
MERMAID_API_URL=http://pm4py-mermaid-service:8003
REDIS_URL=redis://redis:6379/0
